@import url("https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Krylon;
  src: url(/fonts/Krylon-Regular.otf);
}

.hero-bg {
  background: linear-gradient(
      360deg,
      rgba(1, 5, 14, 0.12) 0%,
      rgba(1, 5, 14, 0.6) 100%
    ),
    url(/images/hero/bg.webp);
  width: 100%;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

@media (min-width: 768px) {
  .hero-bg {
    background-position: 25% 45%;
  }
}

@media (min-width: 1024px) {
  .hero-bg {
    background-position: 25% 43%;
  }
}

@media (min-width: 1280px) {
  .hero-bg {
    background-position: 25% 32%;
  }
}
